language: node_js
node_js:
  - '8.11.3'
branches:
  only:
  - master
cache:
  apt: true
  yarn: true
  directories:
    - node_modules
before_install:
  # install yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - yarn
script:
  - yarn build
after_success:
  - "echo skipped"
