<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some examples: </h2>
<h3>Default options: </h3>
<pre>
  units: string[] = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
  divisor: number = 1000;
  scale: number = 1;
</pre>
<ul>
  <li *ngFor="let testSize of smallBytes">
    {{testSize}} &rarr;
    <nxt-pretty-size [size]="testSize"></nxt-pretty-size>
  </li>

  <li *ngFor="let testSize of largeBytes">
    {{testSize}} &rarr;
    <span [nxtPrettySize]="testSize"></span>
  </li>

  <li *ngFor="let testSize  of hugeBytes ">
    {{testSize}} &rarr; {{testSize|nxtPrettySize}}
  </li>

</ul>

